html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.table-container {
    max-width: 100%; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
}

.fixed-column {
    position: sticky;
    right: 0;
    background-color: white !important;
    z-index: 1;
}

.fixed-header {
    position: sticky;
    right: 0;
    background-color: white !important;
    z-index: 2;
}
    table {
    width: 100%;
    border-collapse: collapse;
    color:white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

h1{
    padding:20px
}

li {
    padding-left: 10px;

}

.dividir{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}