@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de CLientes</h1>
</div>

<div class="dividir">
    <div class="conteudo">
        <h3>Visão de cadastro</h3>
        <a role="button" asp-controller="Cliente" asp-action="Index" type="button" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="conteudo">
        <h3>Endpoints de API</h3>
        <button type="button" class="btn btn-secondary">Ver mais</button>
    </div>

</div>

