@{
    ViewData["Title"] = "Confirmaçao de exclusão";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato?</h3>
    <a role="button" class="btn btn-secondary" asp-asp-controller="Cliente" asp-action="Index">cancelar</a>
    <button type="button" class="btn btn-danger">Excluir</button>

</div>